.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.form-inline label {
    margin: 5px 5px 5px 0;
}
.form-inline input {
    vertical-align: middle;
    margin: 5px 5px 5px 0;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
}